<div id="update-popup-modal" tabindex="-1" class="modal-overlay">
    <div class="modal-container">
        <div class="modal-box bg-white">
            <div class="p-6 text-center">
                <svg class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500" id="delete-popup-text" data-name="hero"
                    data-role="tank">Are you sure?</h3>
                <button data-modal-toggle="add-popup-modal" data-action="confirm" type="button"
                    class="update-modal-btn btn-primary">
                    Yes, I'm sure
                </button>
                <button data-modal-toggle="add-popup-modal" data-action="cancel" type="button"
                    class="update-modal-btn btn-danger">No,
                    cancel</button>
            </div>
        </div>
    </div>
</div>